/*
!*.gitignore
!*.gitattributes
!*.optix
!*.optix.design
!*.optixt
!README.md
!LICENSE
!Nodes/
!ProjectFiles/
!DesignTimeNodes/
ProjectFiles/NetSolution/*.vs
ProjectFiles/NetSolution/bin
ProjectFiles/NetSolution/obj
ProjectFiles/NetSolution/Private
ProjectFiles/NetSolution/*.references
ProjectFiles/UserDefinedModule.xml

!CONTRIBUTING.md
!SECURITY.md
